h1{
  font-family: "Helvetica Bold";
}

.header{
  font-family: "Helvetica Bold";
}

.menu {
  /* add correct code to place the menu correctly.*/
  display: flex;
  justify-content: start;

  background-color: black;
  font-size: 30px;
  font-family: "Helvetica Bold";
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Helvetica Bold";
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: 'Helvetica Bold';
}
